.header {
  margin-top: 20px;
  margin-left: 20px;
}

.note {
  margin-top: 20px;
  margin-left: 20px;
}

.noteInput {
  width: 300px;
  height: 40px;
}

.buttonSave {
  margin-top: 40px;
  margin-left: 20px;
}
